.project-div:first-child {
    margin-top: 0px;
  }
  
  .project-div:last-child {
    margin-bottom: 0px;
  }
  
  #project_outer {
    overflow: scroll;
    width: 100%;
    scrollbar-width: none;
  }
  
  #project_inner {
    height: 100%;
    overflow-x: hidden;
    padding: 0px !important;
    background-color: var(--color1);
  }
  
  .project-div{
    border-radius: 8px;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    background-color: var(--color2);
    margin-bottom: 5px;
  }
  
  .project-div-inner {
    margin: 5px;
    margin-top: 5px;
    border-radius: 8px
  }
  
  .project-name {
    margin-top: -5px;
  }
  
  .project-description {
    margin-top: -30px;
  }
  
  .project-info {
    padding-bottom: 15px;
  }
  
  .project-info-inner {
    margin-bottom: -10px;
  }
  
  [class^=devicon-], [class*=" devicon-"] {
    font-size: 22px;
  }