@media only screen and (max-width: 480px) {
    #main {
        margin-top: -27px;
        height: calc(100% - 100px);
    }

    #tabs {
        bottom: 0;
        z-index: 0;
    }

    #pfp {
        margin-top: 25px;
        background-color: var(--color1);
        height: 50px;
        width: 50px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    #profile {
        bottom: 0;
        position: fixed;
        height: 30px;
        padding: 5px;
        margin-right: 0px;
        border-radius: 8px;
    }
    #profile_hover {
        margin-top: -192px;
        margin-right: -55px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    #profile_arrow {
        display: none;
    }
    #profile_inner {
        margin-top: -5px !important;
    }
    .tabs_style {
        margin-top: 40px !important;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 0px;
    }
    .tabs_style:last-child {
        border-bottom-right-radius: 8px;
        border-top-right-radius: 0px;
    }
    #text_outer {
        height: calc(100% - 115px);
    }
    .bar {
        border-bottom-right-radius: 0px !important;
        height:calc(100% - 10px) !important;
    }

    /* temp */
    #tab_friends {
        display: none !important;
    }
    #tab_me {
        border-bottom-right-radius: 8px;
    }
  }
