@media only screen and (max-width: 550px) {

  #main_wrapper {
    height: calc(100% - 36px);
  }
  #right_wrapper {
    width: calc(100% + 64px);
    height: calc(100% - 122px);
    margin-top: 72px;
  }
  #left_wrapper {
    height: fit-content;
    width: calc(100% - 24px);
    position: absolute;
    top: -58px;
  }
  #top_side {
    bottom: -18px;
  }
  #left {
    display: flex;
    margin-bottom: -6px;
  }
  .icon-style, .icon-loader-style {
    height: 38px !important;
    width: 38px !important;
  }
  #accounts {
    display: flex;
    min-height: inherit;
    margin-left: 6px;
    overflow-x: scroll;
    gap: 6px;
    border-radius: 10px;
  }
  #main {
    background-color: transparent;
  }
  #music_bottom_extender {
    padding-top: 10px;
    padding-left: 0px;
    top: 188px;
    left: 6px;
    margin-top: -126px;
    margin-left: 0px;
    width: 100%;
    z-index: 99999;
  }
  #music_bottom {
    width: calc(100% - 24px);
  }
  #music {
    margin-left: 6px;
    margin-top: 0px;
  }
  #music_cover {
    border-radius: 10px 10px 6px 6px;
  }
  #music_progress_bar_back {
    position: absolute;
    border-radius: 0px 0px 10px 10px;
    bottom: 10px;
    width: 44px;
  }
  #music_progress_bar {
    border-radius: 0px 0px 10px 10px;
  }

  #mobile_column {
    display: block !important;
  }
  .gallery_column {
    display: none;
  }

  #settings_page {
    bottom: 66px;
    left: -64px;
  }

  #sidebar_oritentation_text2 {
    display: block;
  }

  #sidebar_oritentation_text {
    display: none;
  }
  #tabs_oritentation {
    display: none;
  }

  .gallery_image:last-child {
    margin-bottom: -5px;
  }
}