/* 
:root {
  color-scheme: dark;
  --background: #52546b;
  --modal_background: #404254;
  --item_background: #52546b;
  --icon: #9e9eff;
  --icon_hover: #6e6eb2;
  --warn: #db5f6e;
} */

:root[data-applied-mode="dark"] {
  color-scheme: dark;
  --color1: #242636 !important;
  --color2: #2C2E41 !important;
  --color3: #34344B !important;
  --color4: #3C3E53 !important;
  --color5: #44465A !important;
  --text: #f5f5f5 !important;
  --texthover: #c2c2c2 !important;
}

:root[data-applied-mode="light"] {
  color-scheme: light;
  --color1: #e7e7e7  !important;
  --color2: #d4d4d4   !important;
  --color3: #c1c1c1   !important;
  --color4: #aeaeae   !important;
  --color5: #9b9b9b  !important;
  --text: #1C1C1C !important;
  --texthover: #686868 !important;
}

:root[data-applied-mode="halloween"] {
  color-scheme: dark;
  --color1: #1d1c1c  !important;
  --color2: #0b0b0b   !important;
  --color3: #1d1c1c   !important;
  --color4: #7200a5   !important;
  --color5: #7200a5  !important;
  --text: #eb7800 !important;
  --texthover: #d04000 !important;
}

:root[data-applied-mode="christmas"] {
  color-scheme: light;
  --color1: #ff7878  !important;
  --color2: #fff   !important;
  --color3: #74d680   !important;
  --color4: #ff0000   !important;
  --color5: #ff7878  !important;
  --text: #1C1C1C !important;
  --texthover: #686868 !important;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #2C2E41;
  }
  #preloader_topbar {
    background-color: #242636;
  }
  #preloader_main {
    background-color: #242636;
  }
  #preloader_tabs {
    background-color: #242636;
  }
  .preloader_inner {
    background-color: #2C2E41;
  }
  .preloader_text {
    background: linear-gradient(90deg, #34344B, #44465A , #34344B);
    background-size: 200% 100%;
    animation: gradientAnimation 1.5s ease infinite forwards;
  }

  #preloader_music {
    background-color: #2C2E41;
  }

  #preloader_music_art {
    background: linear-gradient(90deg, #34344B, #44465A , #34344B);    
    background-size: 200% 100%;
    animation: gradientAnimation 1.5s ease infinite forwards;
  }

  #preloader_music_inner {
    background: linear-gradient(90deg, #34344B, #44465A , #34344B);    
    background-size: 200% 100%;
    animation: gradientAnimation 1.5s ease infinite forwards;
  }
  
  #preloader_music {
    background-color: #2C2E41;
  }

  #preloader_pfp {
    background: linear-gradient(90deg, #34344B, #44465A , #34344B);    
    border: 5px solid #2C2E41;
  }

  #preloader_topbar_left {
    background: linear-gradient(90deg, #34344B, #44465A , #34344B);
  }

  #preloader {
    background-color: #2C2E41;
  }

  #load_time {
    color: white;
  }

  @media only screen and (max-width: 550px) {
    #preloader_pfp {
      border: 5px solid #242636;
    }
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #d4d4d4;
  }
  #preloader_topbar {
    background-color: #e7e7e7;
  }
  #preloader_main {
    background-color: #e7e7e7;
  }
  #preloader_tabs {
    background-color: #e7e7e7;
  }
  .preloader_inner {
    background-color: #d4d4d4;
  }
  .preloader_text {
    background: linear-gradient(90deg, #c1c1c1, #9b9b9b , #c1c1c1);
    background-size: 200% 100%;
    animation: gradientAnimation 1.5s ease infinite forwards;
  }

  #preloader_music {
    background-color: #d4d4d4;
  }

  #preloader_music_art {
    background: linear-gradient(90deg, #c1c1c1, #9b9b9b , #c1c1c1);
    background-size: 200% 100%;
    animation: gradientAnimation 1.5s ease infinite forwards;
  }

  #preloader_music_inner {
    background: linear-gradient(90deg, #c1c1c1, #9b9b9b , #c1c1c1);
    background-size: 200% 100%;
    animation: gradientAnimation 1.5s ease infinite forwards;
  }
  
  #preloader_music {
    background-color: #d4d4d4;
  }

  #preloader_pfp {
    background: linear-gradient(90deg, #c1c1c1, #9b9b9b , #c1c1c1);
    border: 5px solid #d4d4d4;
  }

  #preloader_topbar_left {
    background: linear-gradient(90deg, #c1c1c1, #9b9b9b , #c1c1c1);
  }

  #preloader {
    background-color: #d4d4d4;
  }

  #load_time {
    color: black;
  }
  
  @media only screen and (max-width: 550px) {
    #preloader_pfp {
      border: 5px solid #e7e7e7 !important;
    }
  }
}

body {
    color: var(--text);
    overflow-y: hidden;
    transition: 0.3s;
    font-family: GeologicaRoman;
}

h1 { margin:0px }

#main {
  width: calc(100% - 40px);
  height: calc(100% - 100px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin-top: 28px;
  max-width: 100vh;
}

.bar {
  background-color: var(--color1);
  width: calc(100% - 20px);
  border-radius: 8px;
  position: relative;
  padding: 5px;
  margin: 5px;
  max-height: calc(100% - 110px);
  display: none;
}

.bar_inner {
  background-color: var(--color2);
  overflow: hidden;
  height: calc(100% - 10px);
  border-radius: 8px; 
  position: relative;
  font-size: 30px;
  scrollbar-width: none;
  padding: 5px;
  margin-top: 0px;
  z-index: 0;
  overflow-x: scroll;
  overflow-y: scroll;
}

.bar_outer {
  overflow-x: hidden !important;
  width: 100%; 
  scrollbar-width: none;
}

/* bars */
#tabs {
  height: 65px;
  position: fixed;
  margin-top: -50px;
  display: flex;
  z-index: 1;
  margin-left: 5px;
  max-width: 1000px;
  width: calc(100% - 10px);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  overflow-y: hidden;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
}

.tabs_style:first-child {
  padding-left: 13px;
}

.tabs_style {
  width: fit-content;
  padding-left: 10px;
  margin-top: 0px;
  padding-top: 11px;
  padding-left: 10px;
  padding-right: 12px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-left: -3px;
  cursor: pointer;
  border-top-left-radius: 8px;
  background-color: var(--color1);
  z-index: 0;
}

.tabs_style:last-child {
  border-top-right-radius: 8px;
}

.tabs_style:hover {
  filter: brightness(0.875);
  z-index: 0;
}

/* topbar */
#topbar {
  height: 70px;
  width: calc(100% - 30px);
  margin: 5px;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  z-index: 9998;
  background-color: var(--color1);
}

#topbar_left {
  position: relative;
  display: block;
  background-color: var(--color2);
  padding: 5px;
  border-radius: 8px;
  height: fit-content;
  width: fit-content;
  margin-left: -5px;
  height: 70px;
}

#status {
  width: 85px;
  height: 6px;
  border-radius: 8px;
  margin-left: -2px;
  margin-top:-4px;
}

#status_arrow {
  background-color: var(--color3);
  width: 10px;
  height: 10px;
  margin-top: -2px;
  position: absolute;
  transform: rotate(45deg);
  margin-left: 90px;
}

#status_text {
  margin-left: 92px;
  position: absolute;
  margin-top: -7px;
  background-color: var(--color3);
  padding: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 8px;
  z-index: 9999;
}

.fontChange {
  cursor:pointer;
  width: 100%;
}
.fontChange:hover {
  color: var(--texthover);
}
#reset {
  cursor: pointer;
  color: #d53d36;
}
#reset:hover {
  filter: brightness(1.3);
}

#status_text_block {
  display: none;
  z-index: 9999;
  position: relative;
}

#topbar_left:hover #status_text_block {
  display: block;
}

#clock {
  font-size: 16px;
  margin-top: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#timeFormatBtn:hover {
  color: var(--texthover);
}

/* profile */
#profile {
  margin-right:5px;
  margin-top: 10px;
  height: 100%;
  right: 0;
  position: absolute;
}

#profile_inner {
  margin-top: -16px;
  z-index: 2;
  font-size: 22px;
  position: relative;
  z-index: 9999;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 450px;
  scrollbar-width: none;
}

#profile_hover {
  position: relative;
  z-index: 9999;
  background-color: var(--color3);
  border-radius: 8px;
  border-top-left-radius: 0px;
  margin-top: 95px;
  margin-right: -80px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  float: left;
  display: none;
  scrollbar-width: none;
}

#pfp_link {
  font-size: 18px;
  width: 100%;
  display: block;
  margin-left: 2px;
}

.connection-div {
  width: 100%;
  display: flex;
  margin-left: 2px;
  margin-top: 2px;
}

.connection-div:hover .icon-style-roblox {
  fill: var(--texthover)
}

.icon-style {
  width: 25px;
  font-size: 22px;
  fill: var(--text)
}

.icon-style-cohost {
  margin-top: 1px;
}

.icon-style-bsky {
  font-size: 18px;
  margin-right: 3px;
  margin-top: 3px;
}

.icon-style-domain {
  width: 19px;
  font-size: 21px;
}

.icon-style-roblox {
  width: 22px;
  height: 22px;
  margin-right: 3px;
  fill: var(--text)
}

.icon-style-domain {
  margin-right: 5px;
}

.connection-name {
  margin-left: 0px;
  font-size: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#profile_arrow {
  background-color: var(--color3);
  height: 24px;
  width: 24px;
  margin-top: -12px;
  transform: rotate(45deg);
  margin-left: auto;
  margin-right: 22px;
  z-index: 1;
}

#pfp {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  position: relative;
  border: 5px solid var(--color2);
  background-color: var(--color2);
}

/* friends */
#friends_inner {
  display: flex;
  width: 100%;
  border-radius: 8px;
  justify-content: space-between;
  overflow-x: scroll;
  overflow-y: hidden;
  height: fit-content;
  position: relative;
  padding: 0px;
  background-color: transparent;
}

#friends_outer {
  background-color: var(--color1);
  overflow: hidden !important;
  border-radius: 8px;
  height: fit-content;
  width: 100%;
}

#friends_left {
  width: 20px;
  margin-left: -15px;
  border-radius: 8px;
  background-color: var(--color2);
}

#friends_container {
  width: calc(50% - 5px);
  border-radius: 8px;
  margin-right: 5px;
  height: 195px;
  box-sizing: border-box;
  margin-bottom: 1px;
  background-color: var(--color2);
}

#friends_container:last-child {
  margin-right: 0px;
}

#friends_avatar {
  height: 155px;
  width: 155px;
  background-color: var(--color2);
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.friends_name {
  margin-top: -2px;
  max-width: 135px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
  padding-left: 10px;
  font-size: 20px;
  text-align: center;
}


/* music */
#music {
  position: relative;
  padding: 5px;
  border-radius: 8px;
  z-index: 0 !important;
  margin-left: 5px;
  margin-top: 0px;
  background-color: var(--color2);
  z-index: 1;
  min-width: 200px;
  margin-right: 80px;
}

#music-cover {
  border-radius: 8px;
  width: 70px;
  height: 70px;
  border-radius: 8px;
  display: flex;
}

.music-cover {
  border-radius: 8px;
  width: 70px;
  height: 70px;
  border-radius: 8px;
  display: flex;
}

#music-content {
  background-color: var(--color3);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  height: 60px;
  margin-left: 75px;
  margin-top: -70px;
  border-radius: 8px;
  position: relative;
  min-width: 100px;
}

#music-song {
  font-weight: bold;
  font-size: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  margin-top: -4px;
}
  
#music-artist {
  font-size: 11px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  margin-top: -5px;
}
  
#music-elapsed-time-wrapper {
  display: flex;
  align-items: center;
  width: calc(100% - 0px);
  margin-top: -38px;
}
  
#music-elapsed-time {
  font-weight: 500;
}

#music-progress-bar-wrapper {
  width: calc(100% - 12px);
  margin-right: 0px;
  margin-top: 3px;
}


/* projects */
.project-div:first-child {
  margin-top: 0px;
}

.project-div:last-child {
  margin-bottom: 0px;
}

#project_outer {
  overflow: scroll;
  width: 100%;
  scrollbar-width: none;
}

#project_inner {
  height: 100%;
  overflow-x: hidden;
  padding: 0px !important;
  background-color: var(--color1);
}

.project-div{
  border-radius: 8px;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  background-color: var(--color2);
  margin-bottom: 5px;
}

.project-div-inner {
  margin: 5px;
  margin-top: 5px;
  border-radius: 8px
}

.project-name {
  margin-top: -5px;
}

.project-description {
  margin-top: -30px;
}

.project-info {
  padding-bottom: 15px;
}

.project-info-inner {
  margin-bottom: -10px;
}

[class^=devicon-], [class*=" devicon-"] {
  font-size: 22px;
}

/* updates and credits */
  #update_notes_inner, #credit_notes_inner {
    background-color: var(--color4);
    margin-left: 5px;
    position: absolute;
    z-index: 9999;
    max-width: 952px;
    width: calc(100% - 10px);
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    border-radius: 8px;
  }
  
  #version_container, #credit_container{
    display: none;
  }

  #gallery_credits {
    display: none;
    z-index: 0;
    position: relative;
  }

  #version {
    cursor: pointer;
    z-index: 1;
    position: relative;
  }

  #update_notes, #credits {
    background-color: var(--color2);
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    overflow-y: scroll;
    position: relative;
  }

  #version:hover #version_container {
    display: block;
  }

  /* gallery */
#gallery_inner {
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  padding: 0px;
  background-color: transparent;
}

#gallery_outer {
  background-color: var(--color1);
  overflow: hidden !important;
  border-radius: 8px;
  height: fit-content;
  width: 100%;
}

.gallery_image {
  height: 350px;
  border-radius: 8px;
}

.gallery_div {
  margin-right: 5px;
  margin-bottom: -10px;
}

.gallery_div:last-child {
  margin-right: 0px;
}

.gallery_image_number {
  background-color: var(--color5);
  width: fit-content;
  margin-bottom: -37px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: Rubik;
  z-index: 9999;
  position: relative;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 8px;
}

.gallery_image:last-child {
  margin-right: 0px;
}

  #gallery_credits {
    font-size: 13px;
    margin-top: -16px;
    float: right;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  #gallery_full_view {
    background-color: var(--color1);
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin: 28px;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 8px;
    display: none;
  }

  #gallery_full_images {
    position: absolute;
    top:50%;
    left:50%;
    height: 90%;
    margin-top: 10px;
    width: 80%;
    transform: translate(-50%, -50%);
  }

  .gallery_image_full {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .gallery_buttons {
    height: 30%;
    top: 33%;
    width: 8%;
    z-index: 9999;
    position: absolute;
    cursor: pointer;
    background-color: var(--color4);
    filter: brightness(1.065);
      -webkit-tap-highlight-color: transparent;
  }

  #gallery_full_button_left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .gallery_buttons:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  #gallery_full_button_right {
    right: 0px;
  }
  
  .gallery_image_view:last-child {
    margin-right: 0px;
  }

  .gallery_image_full {
    display: none;
  }

  .gallery_image_full:first-child {
    display: block;
  }

  #gallery_button {
    width: 100%;
    position: absolute;
    margin-left: calc(-50% + 100px);
    margin-right: 500px;
  }

  #full_gallery2 {
    font-size: 30px;
    margin-top: 5px;
  }

  .gallery_text {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0;
  }


/* skeletons */
  .skelly {
    display: flex;
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  .skeleton_loader_gallery_image {
    height: 350px;
    margin-right: 5px;
    border-radius: 8px;
    background: linear-gradient(90deg, var(--color3), var(--color5), var(--color3)); /* Initial gradient background */
    background-size: 200% 100%; /* Set background size for animation */
    animation: gradientAnimation 1.5s ease infinite forwards; /* Apply the gradient animation */
  }

  .skeleton_loader_projects_image {
    margin-right: 5px;
    border-radius: 8px;
    background: linear-gradient(90deg, var(--color3), var(--color5), var(--color3)); /* Initial gradient background */
    background-size: 200% 100%; /* Set background size for animation */
    animation: gradientAnimation 1.5s ease infinite forwards; /* Apply the gradient animation */
  }

  .skeleton_loader_gallery_image:last-child, .skeleton_loader_friends_container:last-child {
    margin-right: 0px;
  }

  .skeleton_loader_lastfm {
    width: 155px;
    border-radius: 8px;
    height: 155px;
    box-sizing: border-box;
    margin-bottom: 1px;
    background: linear-gradient(90deg, var(--color3), var(--color5), var(--color3)); /* Initial gradient background */
    background-size: 200% 100%; /* Set background size for animation */
    animation: gradientAnimation 1.5s ease infinite forwards; /* Apply the gradient animation */
  }

  #skeleton_loader_projects {
    height: 100%;
    position: relative;
    z-index: 9999;
    display: block;
  }


/* misc */
  #text {
    overflow-x: hidden;
  }

  #settings {
    margin-left: 2px;
  }

  #todo_list {
    border-top: 3px solid var(--color4);
    margin-top: 10px;
  }

  .todo_list_items {
    margin-bottom: 6px;
  }

  .todo_list_text {
    height: 30px;
    top: 10px;
    position: relative;
    display: block;
  }
