/* 
:root {
  color-scheme: dark;
  --background: #52546b;
  --modal_background: #404254;
  --item_background: #52546b;
  --icon: #9e9eff;
  --icon_hover: #6e6eb2;
  --warn: #db5f6e;
} */

:root[data-applied-mode="dark"] {
  color-scheme: dark;
  --color1: #242636 !important;
  --color2: #2C2E41 !important;
  --color3: #34344B !important;
  --color4: #3C3E53 !important;
  --color5: #44465A !important;
  --text: #f5f5f5 !important;
  --texthover: #c2c2c2 !important;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #2C2E41;
  }
  #preloader_topbar {
    background-color: #242636;
  }
  #preloader_main {
    background-color: #242636;
  }
  #preloader_tabs {
    background-color: #242636;
  }
  .preloader_inner {
    background-color: #2C2E41;
  }
  .preloader_text {
    background: linear-gradient(90deg, #34344B, #44465A , #34344B);
    background-size: 200% 100%;
    animation: gradientAnimation 1.5s ease infinite forwards;
  }

  #preloader_music {
    background-color: #2C2E41;
  }

  #preloader_music_art {
    background: linear-gradient(90deg, #34344B, #44465A , #34344B);    
    background-size: 200% 100%;
    animation: gradientAnimation 1.5s ease infinite forwards;
  }

  #preloader_music_inner {
    background: linear-gradient(90deg, #34344B, #44465A , #34344B);    
    background-size: 200% 100%;
    animation: gradientAnimation 1.5s ease infinite forwards;
  }
  
  #preloader_music {
    background-color: #2C2E41;
  }

  #preloader_pfp {
    background: linear-gradient(90deg, #34344B, #44465A , #34344B);    
    border: 5px solid #2C2E41;
  }

  #preloader_topbar_left {
    background: linear-gradient(90deg, #34344B, #44465A , #34344B);
  }

  #preloader {
    background-color: #2C2E41;
  }

  #load_time {
    color: white;
  }

  @media only screen and (max-width: 550px) {
    #preloader_pfp {
      border: 5px solid #242636;
    }
  }
}

:root[data-applied-mode="light"] {
    color-scheme: light;
    --color1: #e7e7e7  !important;
    --color2: #d4d4d4   !important;
    --color3: #c1c1c1   !important;
    --color4: #aeaeae   !important;
    --color5: #9b9b9b  !important;
    --text: #1C1C1C !important;
    --texthover: #686868 !important;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #d4d4d4;
  }
  #preloader_topbar {
    background-color: #e7e7e7;
  }
  #preloader_main {
    background-color: #e7e7e7;
  }
  #preloader_tabs {
    background-color: #e7e7e7;
  }
  .preloader_inner {
    background-color: #d4d4d4;
  }
  .preloader_text {
    background: linear-gradient(90deg, #c1c1c1, #9b9b9b , #c1c1c1);
    background-size: 200% 100%;
    animation: gradientAnimation 1.5s ease infinite forwards;
  }

  #preloader_music {
    background-color: #d4d4d4;
  }

  #preloader_music_art {
    background: linear-gradient(90deg, #c1c1c1, #9b9b9b , #c1c1c1);
    background-size: 200% 100%;
    animation: gradientAnimation 1.5s ease infinite forwards;
  }

  #preloader_music_inner {
    background: linear-gradient(90deg, #c1c1c1, #9b9b9b , #c1c1c1);
    background-size: 200% 100%;
    animation: gradientAnimation 1.5s ease infinite forwards;
  }
  
  #preloader_music {
    background-color: #d4d4d4;
  }

  #preloader_pfp {
    background: linear-gradient(90deg, #c1c1c1, #9b9b9b , #c1c1c1);
    border: 5px solid #d4d4d4;
  }

  #preloader_topbar_left {
    background: linear-gradient(90deg, #c1c1c1, #9b9b9b , #c1c1c1);
  }

  #preloader {
    background-color: #d4d4d4;
  }

  #load_time {
    color: black;
  }
  
  @media only screen and (max-width: 550px) {
    #preloader_pfp {
      border: 5px solid #e7e7e7 !important;
    }
  }
}

body {
    color: var(--text);
    overflow-y: hidden;
    transition: 0.3s;
}

h1 { margin:0px }

#main {
  width: calc(100% - 40px);
  height: calc(100% - 100px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin-top: 28px;
  max-width: 100vh;
}

.bar {
  background-color: var(--color1);
  width: calc(100% - 20px);
  border-radius: 8px;
  position: relative;
  padding: 5px;
  margin: 5px;
  max-height: calc(100% - 110px);
  display: none;
}

.bar_inner {
  background-color: var(--color2);
  overflow: hidden;
  width: 100%;
  border-radius: 8px; 
  position: relative;
  font-size: 30px;
  scrollbar-width: none;
  padding: 5px;
  margin-top: 0px;
  z-index: 0;
  overflow-x: scroll;
  overflow-y: scroll;
}


/* bars */
#tabs {
  height: 65px;
  position: fixed;
  margin-top: -50px;
  display: flex;
  z-index: 1;
  margin-left: 5px;
  max-width: 1000px;
  width: calc(100% - 10px);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
}

.tabs_style:first-child {
  padding-left: 13px;
}

.tabs_style {
  width: fit-content;
  padding-left: 10px;
  margin-top: 0px;
  padding-top: 11px;
  padding-left: 10px;
  padding-right: 12px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-left: -3px;
  cursor: pointer;
  border-top-left-radius: 8px;
  background-color: var(--color1);
  z-index: 0;
}

.tabs_style:last-child {
  border-top-right-radius: 8px;
}

.tabs_style:hover {
  filter: brightness(0.875);
  z-index: 0;
}


/* topbar */
#topbar {
  height: 70px;
  width: calc(100% - 30px);
  margin: 5px;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  z-index: 9998;
  background-color: var(--color1);
}

#topbar_left {
  position: relative;
  display: block;
  background-color: var(--color2);
  padding: 5px;
  border-radius: 8px;
  height: fit-content;
  width: fit-content;
  margin-left: -5px;
  height: 70px;
}

#status {
  width: 85px;
  height: 6px;
  border-radius: 8px;
  margin-left: -2px;
  margin-top:-4px;
}

#status_arrow {
  background-color: var(--color3);
  width: 10px;
  height: 10px;
  margin-top: -2px;
  position: absolute;
  transform: rotate(45deg);
  margin-left: 90px;
}

#status_text {
  margin-left: 92px;
  position: absolute;
  margin-top: -7px;
  background-color: var(--color3);
  padding: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 8px;
  z-index: 9999;
}

.fontChange {
  cursor:pointer;
  width: 100%;
}
.fontChange:hover {
  color: var(--texthover);
}
#reset {
  cursor: pointer;
  color: lightcoral !important;
}
#reset:hover {
  filter: brightness(1.3);
}


#status_text_block {
  display: none;
  z-index: 9999;
  position: relative;
}

#topbar_left:hover #status_text_block {
  display: block;
}

#clock {
  font-size: 16px;
  margin-top: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#timeFormatBtn:hover {
  color: var(--texthovefr);
}


/* profile */
#profile {
  margin-right:5px;
  margin-top: 10px;
  height: 100%;
  right: 0;
  position: absolute;
}

#pfp_wrapper {
  position: absolute;
}

#profile_inner {
  margin-top: -16px;
  z-index: 2;
  font-size: 22px;
  position: relative;
  z-index: 9999;
  overflow-y: scroll;
  max-height: 450px;
}

#profile_hover {
  position: relative;
  z-index: 9999;
  background-color: var(--color3);
  border-radius: 8px;
  border-top-left-radius: 0px;
  margin-top: 95px;
  margin-right: -80px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  float: left;
  display: none;
}

#pfp_link {
  font-size: 18px;
  width: 100%;
  display: block;
}

.connection-div {
  width: 100%;
  display: flex;
  margin-top: 2px;
}

.connection-div:hover .icon-style-roblox {
  fill: var(--texthover)
}

.icon-style {
  width: 25px;
  font-size: 22px;
}

.icon-style-cohost {
  margin-top: 1px;
}

.icon-style-bsky {
  font-size: 18px;
  margin-right: 3px;
  margin-top: 3px;
}

.icon-style-domain {
  width: 19px;
  font-size: 21px;
}

.icon-style-roblox {
  width: 22px;
  height: 22px;
  margin-right: 3px;
  fill: var(--text)
}

.icon-style-domain {
  margin-right: 5px;
}

.connection-name {
  margin-left: 0px;
  font-size: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#profile_arrow {
  background-color: var(--color3);
  height: 24px;
  width: 24px;
  margin-top: -12px;
  transform: rotate(45deg);
  margin-left: auto;
  margin-right: 22px;
  z-index: 1;
}

#pfp {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  position: relative;
  border: 5px solid var(--color2);
  background-color: var(--color2);
}

/* gallery */
#gallery_inner {
  display: flex;
  width: 100%;
  border-radius: 8px;
  justify-content: space-between;
  overflow-x: scroll;
  position: relative;
  padding: 0px;
  background-color: transparent;
}

#gallery_outer {
  background-color: var(--color1);
  overflow: hidden !important;
  border-radius: 8px;
  height: fit-content;
  width: 100%;
}

.gallery_image {
  height: 350px;
  margin-right: 5px;
  border-radius: 8px;
}

.gallery_image:last-child {
  margin-right: 0px;
}


/* friends */
#friends_inner {
  display: flex;
  width: 100%;
  border-radius: 8px;
  justify-content: space-between;
  overflow-x: scroll;
  height: fit-content;
  position: relative;
  padding: 0px;
  background-color: transparent;
}

#friends_outer {
  background-color: var(--color1);
  overflow: hidden !important;
  border-radius: 8px;
  height: 195px;
  width: 100%;
}

#friends_left {
  width: 20px;
  margin-left: -15px;
  border-radius: 8px;
  background-color: var(--color2);
}

#friends_container {
  width: calc(50% - 5px);
  border-radius: 8px;
  margin-right: 5px;
  height: 195px;
  box-sizing: border-box;
  margin-bottom: 1px;
  background-color: var(--color2);
}

#friends_container:last-child {
  margin-right: 0px;
}

#friends_avatar {
  height: 155px;
  width: 155px;
  background-color: var(--color2);
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.friends_name {
  margin-top: -2px !important;
  max-width: 135px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
  padding-left: 10px;
  font-size: 20px;
  text-align: center;
}

/* other stuff*/
.flag-name {text-decoration: none;transition: 0.15s;color:var(--text)}
.flag-name:hover {color:var(--texthover) !important}
.flag-name-null {color:var(--text) !important}
.flag-name-null:hover {color:var(--text) !important}
a {color:var(--text);text-decoration: none;}
a:hover {color:var(--texthover) !important}
.flag-emojis {height: 24px;margin-bottom: -3px;border-radius: 4px;}
.emojis {height: 26px;margin-right:5px;margin-bottom: -2px;}
.emojis-big {height: 48px;margin-right:5px;}
.emojis-bigger {height: 64px;margin-right:5px;}
.emojis-biggest {height: 82px;margin-right:5px;}

.emojis:last-of-type {margin-right:2px !important;}
#link:hover {color: var(--text);text-decoration: none;}
#link {transition: 0.15s;}
.emoji {
  height: 28px;
}
.emoji-status {
  height: 26px;
  width: 26px;
  border-radius: 8px;
  float: left;
}
#status-emoji {
  position: absolute;
  z-index: 1;
  height: 26px;
  border-radius: 8px;
  float: left;
}
.discord_emoji {
  display: inline-block;
  height: 36px;
  margin-bottom: -8px;
}
.pronoun-values {background-color:var(--color3);padding-left:5px;padding-right:5px;border-radius:8px;display: inline-block;word-break: break-word;}
.divider {width: 100%;height: 3px;background-color:  var(--color4);margin-top: 9px;margin-bottom: 9px;}

#roblox {width: 300px;height: 100px;background-color: var(--wing1);margin-top: 20px;margin-bottom: 20px;}

#preloader {
  width: calc(100% + 18px);
  height: calc(100% + 20px);
  margin-left: -11px;
  margin-top: -10px;
  position: fixed;
  z-index: 9999;
}

/* music */
#music {
  position: relative;
  padding: 5px;
  border-radius: 8px;
  z-index: 0 !important;
  margin-left: 5px;
  margin-top: 0px;
  background-color: var(--color2);
  z-index: 1;
  min-width: 200px;
  margin-right: 80px;
}

#music-cover {
  border-radius: 8px;
  width: 70px;
  height: 70px;
  border-radius: 8px;
  display: flex;
}

.music-cover {
  border-radius: 8px;
  width: 70px;
  height: 70px;
  border-radius: 8px;
  display: flex;
}

#music-content {
  background-color: var(--color3);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  height: 60px;
  margin-left: 75px;
  margin-top: -70px;
  border-radius: 8px;
  position: relative;
  min-width: 100px;
}

#music-song {
  font-weight: bold;
  font-size: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  margin-top: -4px;
}
  
#music-artist {
  font-size: 11px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  margin-top: -5px;
}
  
#music-elapsed-time-wrapper {
  display: flex;
  align-items: center;
  width: calc(100% - 0px);
  margin-top: -38px;
}
  
#music-elapsed-time {
  font-weight: 500;
}

#music-progress-bar-wrapper {
  width: calc(100% - 12px);
  margin-right: 0px;
  margin-top: 3px;
}

.project-div:first-child {
  margin-top: 0px;
}

.project-div:last-child {
  margin-bottom: 0px;
}

#project_outer {
  overflow: scroll;
  width: 100%;
}

#data_outer {
  overflow: scroll;
  width: 100%; 
}

#data_inner {
  height: calc(100% - 10px);
  overflow: scroll;
  padding: 5px !important;
  background-color: var(--color2);
}

#project_inner {
  height: 100%;
  overflow: scroll;
  padding: 0px !important;
  background-color: var(--color1);
}

.project-div{
  border-radius: 8px;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  background-color: var(--color2);
  margin-bottom: 5px;
}


.project-div-inner {
  margin: 5px;
  margin-top: 5px;
  border-radius: 8px
}

.project-name {
  margin-top: -5px;
}

.project-description {
  margin-top: -30px;
}

.project-info {
  padding-bottom: 15px;
}

.project-info-inner {
  margin-bottom: -10px;
}

[class^=devicon-], [class*=" devicon-"] {
  font-size: 22px;
}

.spoiler {
	background-color: var(--color3);
	cursor: pointer;
	padding: 0.02rem 5px;
	transition: 0.15s;
	margin-top: 12px;
  border-radius: 10px;
  }
  
  .spoiler:hover {
	background-color: var(--color4);
  }
  .spoiler .inner {
	opacity: 0;
  }
  
  .spoiler.clicked .inner {
	display: inline;
	opacity: 1;
	width: 100%;
  }


  #update_notes_inner {
    background-color: var(--color4);
    margin-left: 5px;
    position: absolute;
    z-index: 9999;
    max-width: 952px;
    width: calc(100% - 10px);
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    border-radius: 8px;
  }
  
  #version_container {
    display: none;
  }

  #version {
    cursor: pointer;
  }

  #update_notes {
    background-color: var(--color2);
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
  }

  #version:hover #version_container {
    display: block;
  }

  #full_gallery, #full_gallery2 {
    font-size: 13px;
    margin-top: -16px;
    float: right;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  #gallery_full_view {
    background-color: var(--color1);
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin: 28px;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 8px;
    display: none;
  }

  #gallery_full_images {
    position: absolute;
    top:50%;
    left:50%;
    height: 90%;
    margin-top: 10px;
    width: 80%;
    transform: translate(-50%, -50%);
  }

  .gallery_image_full {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .gallery_buttons {
    height: 30%;
    top: 33%;
    width: 8%;
    z-index: 9999;
    position: absolute;
    cursor: pointer;
    background-color: var(--color4);
    filter: brightness(1.065);
      -webkit-tap-highlight-color: transparent;
  }

  #gallery_full_button_left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .gallery_buttons:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  #gallery_full_button_right {
    right: 0px;
  }
  
  .gallery_image_view:last-child {
    margin-right: 0px;
  }

  .gallery_image_full {
    display: none;
  }

  .gallery_image_full:first-child {
    display: block;
  }

  #gallery_button {
    width: 100%;
    position: absolute;
    margin-left: calc(-50% + 100px);
    margin-right: 500px;
  }

  #full_gallery2 {
    font-size: 30px;
    margin-top: 5px;
  }

  .gallery_text {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0;
  }

  .skelly {
    display: flex;
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .skeleton_loader_friends_container {
    border-radius: 8px;
    margin-right: 5px;
    box-sizing: border-box;
    margin-bottom: 1px;
    background: linear-gradient(90deg, var(--color3), var(--color5), var(--color3)); /* Initial gradient background */
    background-size: 200% 100%; /* Set background size for animation */
    animation: gradientAnimation 1.5s ease infinite forwards; /* Apply the gradient animation */
  }

  .skeleton_loader_gallery_image {
    height: 350px;
    margin-right: 5px;
    border-radius: 8px;
    background: linear-gradient(90deg, var(--color3), var(--color5), var(--color3)); /* Initial gradient background */
    background-size: 200% 100%; /* Set background size for animation */
    animation: gradientAnimation 1.5s ease infinite forwards; /* Apply the gradient animation */
  }

  .skeleton_loader_friends_image {
    margin-right: 5px;
    border-radius: 8px;
    background: linear-gradient(90deg, var(--color3), var(--color5), var(--color3)); /* Initial gradient background */
    background-size: 200% 100%; /* Set background size for animation */
    animation: gradientAnimation 1.5s ease infinite forwards; /* Apply the gradient animation */
  }

  .skeleton_loader_projects_image {
    margin-right: 5px;
    border-radius: 8px;
    background: linear-gradient(90deg, var(--color3), var(--color5), var(--color3)); /* Initial gradient background */
    background-size: 200% 100%; /* Set background size for animation */
    animation: gradientAnimation 1.5s ease infinite forwards; /* Apply the gradient animation */
  }

  .lastfm_loader_artist, .lastfm_loader_top {
    margin-right: 5px;
    border-radius: 8px;
    height: 200px;
    min-width: 155px;
    background: linear-gradient(90deg, var(--color3), var(--color5), var(--color3)); /* Initial gradient background */
    background-size: 200% 100%; /* Set background size for animation */
    animation: gradientAnimation 1.5s ease infinite forwards; /* Apply the gradient animation */
  }
  
  .skeleton_loader_gallery_image:last-child, .skeleton_loader_friends_container:last-child {
    margin-right: 0px;
  }

  .skeleton_loader_lastfm {
    width: 155px;
    border-radius: 8px;
    height: 155px;
    box-sizing: border-box;
    margin-bottom: 1px;
    background: linear-gradient(90deg, var(--color3), var(--color5), var(--color3)); /* Initial gradient background */
    background-size: 200% 100%; /* Set background size for animation */
    animation: gradientAnimation 1.5s ease infinite forwards; /* Apply the gradient animation */
  }

  #skeleton_loader_projects {
    height: 100%;
    position: relative;
    z-index: 9999;
    display: block;
  }

  .lastfm_container {
    background-color: var(--color2);
    height: 200px;
    min-width: 155px;
    border-radius: 8px;
    margin-right: 5px;
  }

  .lastfm_container:last-child {
    margin-right: 0px;
  }

  .lastfm_image {
    height: 100%;
    width: 100%;
    max-height: 155px;
    object-fit: cover;
    border-radius: 8px;
    background-color: var(--color3);
    border-bottom-left-radius: 0px;
  }

  .lastfm_playcount {
    background-color: var(--color2);
    width: fit-content;
    position: relative;
    margin-left: auto;
    margin-top: -38px;
    font-family: Rubik;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    font-size: 24px;
    padding: 2px;
  }

  .lastfm_name {
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    padding: 5px;
    margin-top: -8px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .lastfm_artist_name {
    font-weight: bold;
    font-size: 29px;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    margin-top: -5px;
    text-overflow: ellipsis;
  }

  .lastfm_artist {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    margin-top: -10px;
    text-overflow: ellipsis;
  }

  #lastfm_top {
    display: flex;
    background-color: transparent;
    overflow-x: scroll;
    border-radius: 8px;
    overflow-y: hidden;
  }

  #lastfm_artist {
    display: flex;
    background-color: transparent;
    overflow-x: scroll;
    border-radius: 8px;
    overflow-y: hidden;
  }

  .lastfm_outer {
    background-color: var(--color3);
    padding: 5px;
    border-radius: 8px;
    width: calc(100% - 20px);
  }

  #preloader_topbar {
    height: 90px;
    margin-bottom: 5px;
    border-radius: 8px;
    margin-top: -5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
  }

  #preloader_topbar_left {
    width: 120px;
    height: 80px;
    border-radius: 8px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 5px;
    transition: 0.3s;
    background-size: 200% 100%;
    animation: gradientAnimation 1.5s ease infinite forwards;
  }

  .preloader_inner {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    padding: 5px;
    border-radius: 8px;
    overflow: hidden;
  }

  #preloader_main {
    height: calc(100% - 128px);
    width: calc(100% - 10px);
    padding: 5px;
    border-radius: 8px;
    transition: 0.3s;
    margin-top: -2px;
  }

  #preloader {
    margin-top: -50px;
    width: calc(100% - 10px);
    margin-left: 5px;
    padding-top: 100px;
  }

  #preloader_pfp {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 50%;
    background-size: 200% 100%;
    animation: gradientAnimation 1.5s ease infinite forwards;
  }

  #preloader_tabs {
    width: 100%;
    height: 60px;
    margin-top: -100px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    transition: 0.3s;
  }

  #preloader_fill {
    width: 100%;
    height: 15px;
    margin-top: -10px;
  }

  .preloader_text {
    height: 37px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
  }


  @keyframes preloaderAnimation {
    0% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  #preloader_music {
    max-width: calc(100% - 220px);
    height: 80px;
    width: 200px;
    margin: 5px;
    border-radius: 8px;
    position: relative;
    margin-left: 0px;
    opacity: 0;
    transition: 0.3s;
  }

  #preloader_music_art {
    height: 70px;
    width: 70px;
    border-radius: 8px;
    margin-left: 5px;
    top: 5px;
    position: relative;
  }

  #preloader_music_inner {
    width: calc(100% - 85px);
    height: calc(100% - 10px);
    border-radius: 8px;
    margin-left: 80px;
    margin-top: -70px;
    top: 5px;
    position: relative;
  }
  .waka_lang_graph {
    background-color: var(--color5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    height: 48px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }

  .waka_lang_container {
    display: flex;
    margin-bottom: 5px;
    font-size: 16px;
    border-radius: 8px;
    width: calc(100% + 10px);
  }

  .waka_lang_container:last-child {
    margin-bottom: 0px;
  }

  .waka_lang_graph_border {
    width: calc(100% - 195px);
    border: 3px solid var(--color2);
    border-radius: 8px;
    margin-left: 5px;
    overflow: hidden;
  }

  .waka_lang_time_and_name {
    display: block;
    width: 180px;
    padding: 5px;
    background-color: var(--color2);
    border-radius: 8px;
  }

  #waka_lang {
    background-color: var(--color3);
    width: calc(100% - 15px);
    padding: 2.5px;
    border-radius: 8px;
  }

  .waka_lang_time {
    margin-top: 0px;
  }

  .games_image {
    width: 155px;
    height: 155px;
    margin-top: 0px;
    object-fit: cover;
    position: absolute;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  .games_name {
    top: 150px;
    margin: 5px;
    position: absolute;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 155px;
  }
  .games_lasted {
    top: 175px;
    margin: 5px;
    position: absolute;
    font-size: 12px;
  }

  .games_activity {
    background-color: var(--color2);
    min-width: 155px;
    height: 200px;
    border-radius: 8px;
    margin-right: 5px;
    position: relative;
  }

  .games_activity:last-child {
    margin-right: 0px;
  }

  #games_data_outer {
    background-color: var(--color3);
    position: relative;
    padding: 5px;
    width: calc(100% - 20px);
    border-radius: 8px;
  }

  #games_data {
    display: flex;
    overflow-x: scroll;
    border-radius: 8px;
    width: 100%;
  }

  .info {
    font-family: SourceCode;
    font-size: 12px;
    text-align: right;
    margin-right: 10px;
    margin-top: 5px;
  }
